/*  */

#presentacion {
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items: center;

    /*es lo mismo que 
    <section id="presentacion" class="container col-xxl-8 px-4 py-5 d-flex justify-content-start align-items-center">

    */

    background-image: url("assets/aura.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 {
    background-image: url('assets/p-google.png');
}

#proyecto-2 {
    background-image: url('assets/p-google.png');
}

/*  

En lugar de que se repita este codigo muchas veces es mucho mejor que se pongan las propiedades que se repiten en una clase y queda mucho mas corto 

#proyecto-1 {
    background-image: url('p-google.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
*/
.text-shadow-1 {
    text-shadow: 1px -1px 8px rgb(0, 0, 0);
}

/* crear un boton de da click en la imagen 
copié el que tenía en el apartado de presentación
nada más con que pongas el botón dentro del link
*/

/* tipografia del proyecto */

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}





.gupter-regular {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
}

.gupter-medium {
    font-family: "Gupter", serif;
    font-weight: 500;
    font-style: normal;
}

.gupter-bold {
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
}




body {
    background-color: #cbafffb9;
}

.icono {
    color: #77036d;
}

.navbar-lila {
    background-color: #cbafffb9;

}

.ocupacion {
    margin-bottom: 0;

}

.escu {
    margin-top: 0;
}

.btn a {
    text-decoration: none;
    color: inherit;
}